/* Start Variables */
:root {
    --main-color: #10cab7;
    --secondary-color: #2c4755;
}

/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/* من خلال هذه الخاصية يتم الانتقال الى القسم عند الضغط على الرابط */
html {
    scroll-behavior: smooth;
}
body {
    font-family: "Work Sans", sans-serif;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    /* لكي تمسك الحاوية العناصر في المنتصف نستخدم ال
    margin left/right :auto;*/
    margin-left: auto;
    margin-right: auto;
}
/*Small Screen*/
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
/*Medium Screen*/
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
/*Large Screen*/
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* End Global Rules */

/* العناصر الي رح اشتغل عليها كتير والي هنن عناوين الأقسام */
/* Start Componants*/
.special-heading {
    color: #ebeced;
    font-size: 100px;
    text-align: center;
    font-weight: 800px;
    letter-spacing: -3px;
    margin: 0;
}
/* مشان أوصل للفقرة الي بعد الهيد مباشرة */
.special-heading + p {
    margin: -30px 0 0;
    font-size: 20px;
    text-align: center;
    color: #797979;
}
@media (max-width: 767px) {
    .special-heading {
        font-size: 60px;
    }
    .special-heading + p {
        margin-top: -20px;
    }
}
/* End Componants*/

/* Start Header */
.header {
    padding: 20px;
}
.header .container {
    /*  حتى يكون في مسافة بين الأيقونة والصورة لهيك بعمل للحاوية هالخاصيتين */
    display: flex;
    justify-content: space-between;
    /* حتى تكون العناصر بالمنتصف */
    align-items: center;
}
.header .logo {
    width: 60px;
    height: 24px;
}
.header .links {
    position: relative;
}
/* حركة للخط التاني من الأيقونة */
.header .links:hover .icon span:nth-child(2) {
    width: 100%;
}
.header .links .icon {
    width: 30px;
    display: flex;
    /* العناصر لما تملأالشاشة تنزل تحت */
    flex-wrap: wrap;
    /* مشان تقلب لليسار الخطوط */
    justify-content: flex-end;
}
/* تنسيق الأيقونة */
.header .links .icon span {
    background-color: #333;
    margin-bottom: 5px;
    height: 2px;
}
/* الخط الاول للايقونة */
.header .links .icon span:first-child {
    width: 100%;
}
/* الخط الثاني */
.header .links .icon span:nth-child(2) {
    width: 60%;
    /* للحركة */
    transition: 0.3s;
}
/* الخط التالت */
.header .links .icon span:last-child {
    width: 100%;
}
.header .links ul {
    /* الغاء الاشكال جنب الروابط */
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #f6f6f6;
    position: absolute;
    /* مشان ما تطلع برا الشاشة */
    right: 0;
    min-width: 200px;
    top: calc(100% + 15px);
    /* لاخفاء الروابط واظهارها فقط عند الهوفر */
    display: none;
    /* مشان تطلع قائمة العناصر فوق الصورة */
    z-index: 1;
}
/* وقت اضغط ع خطوط الايقونة تطلع الروابط */
.header .links:hover ul {
    display: block;
}
.header .links ul::before {
    content: "";
    /* تنسيقات السهم */
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #f6f6f6 transparent;
    position: absolute;
    right: 5px;
    top: -20px;
}
.header .links ul li a {
    display: block;
    padding: 15px;
    /* لنشيل الخط من تحت الكتابة */
    text-decoration: none;
    color: #333;
    /* مشان وقت نعمل هوفر يتحرك */
    transition: 0.3s;
}
.header .links ul li a:hover {
    /* مشان تتحرك لليسار نتفة */
    padding-left: 25px;
}
/* بياخد كل الروابط ماعدا اخر واحد وبحط تحتن خط */
.header .links ul li:not(:last-child) a {
    border-bottom: 1px solid #ddd;
} 
/* End Header */

/* Start Landing */
.landing {
    background-image: url(../images/mountain.jpg);
    background-size: cover;
    height: calc(100vh - 64px);
    position: relative;
}
.landing .intro-text { 
    /* لتوسيط النص وسط الشاشة الاب 
    landing */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    /* مشان تتمدد الكتابة على كل السطر */
    width: 320px;
    /* مشان ما يطلع برا الحاوية بالنسبة لشاشة التلفون */
    max-width: 100%;
}
.landing .intro-text h1 {
   margin: 0;
   font-weight: bold;
   font-size: 50px;
   color: var(--main-color);
}
.landing .intro-text p {
   font-size: 19px;
   line-height: 1.8;
}
/* End Landing */

/* Start Features */
.features {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #f6f6f6;
}
.features .container {
    display: grid;
    /* auto-fill 
    يعني الاعمدة تملأ المساحة المتوفرة عندي حيث البداية تكون 300 ولو كان عندي مساحة أكتر بياخد وان فراكشن */
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    /* مسافة بين الاقسام */
    grid-gap: 20px;
}
.features .feat {
    padding: 20px;
    text-align: center;
}
.features .feat i {
    color: var(--main-color);
}
.features .feat h3 {
    font-weight: 800px;
    margin: 30px 0;
}
.features .feat p {
    line-height: 1.8;
    color: #777;
    font-size: 17px;
}
/* End Features */

/* Start Services */
.services {
    padding-top: 60px;
    padding-bottom: 60px;
}
.services .services-content {
    /* من أجل تقسيم قسم الخدمات لأعمدة لتوزيع العناصر */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    /* مسافة بين الاقسام */
    grid-gap: 30px;
    margin-top: 100px;
}
.services .services-content .srv {
    display: flex;
    margin-bottom: 40px;
}
@media (max-width: 767px) {
    .services .services-content .srv {
        flex-direction: 40px;
        text-align: center;
    }
}
.services .services-content .srv i {
    color: var(--main-color);
    /* اخترنا هذه الخاصية لكي يتعامل مع الايقونة بالنسبة للموبايل بالطول والعرض */
    flex-basis: 60px;
}
.services .services-content .srv .text {
    /* مشان ياخد المساحة الباقية */
    flex: 1;
}
.services .services-content .srv .text h3 {
    margin: 0 0 20px;
}
.services .services-content .srv .text p {
    color: #777;
    font-weight: 300;
    line-height: 1.6;
}
.services .services-content .image {
    text-align: center;
    position: relative;
}
/* تنسيق المستطيل الملون جنب الصورة */
.services .services-content .image::before {
    content: "";
    background-color: var(--secondary-color);
    width: 100px;
    height: calc(100% + 100px);
    top: -50px;
    position: absolute;
    right: 0;
    z-index: -1;
}
.services .services-content .image img {
    width: 260px;
}
/* لحذف الصورة من هذه الميديا */
@media (max-width: 1199px) {
    .image-column {
        display: none;
    }
}
/* End Services */

/* Start Portfolio */
.portfolio {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #f6f6f6;
}
.portfolio .portfolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    /* مسافة بين الاقسام */
    grid-gap: 30px;
    margin-top: 80px;
}
.portfolio .portfolio-content .card {
    background-color: white;
    max-width: 100%;
 
}
.portfolio .portfolio-content .card img {
    /* مشان ما تطلع برا المساحة الموجودة */
   width: 100%;
  
}
.portfolio .portfolio-content .card .info {
    padding: 20px;
}
.portfolio .portfolio-content .card .info h3 {
    margin: 0;
}
.portfolio .portfolio-content .card .info p {
    color: #777;
    line-height: 1.6;
    margin-bottom: 0;
}
/* End Portfolio */

/* Start About */
.about {
    padding-top: 60px;
    padding-bottom: calc(60px + 60px);
}
.about .about-content {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    /* مسافة بين الصورة والنص */
    justify-content: space-between;
}
@media (max-width: 991px) {
    .about .about-content {
        flex-direction: column;
        text-align: center;
    }
}
.about .about-content .image {
    position: relative;
    width: 250px;
    height: 375px;
}
@media (max-width: 991px) {
    .about .about-content .image {
        margin: 0 auto 60px;
    }
}
.about .about-content .image::before {
    content: "";
    position: absolute;
    background-color: #ebeced;
    width: 100px;
    height: calc(100% + 20px);
    top: -40px;
    left: -20px;
    z-index: -1;
}
.about .about-content .image::after {
    top: -40px;
    content: "";
    position: absolute;
    width: 110px;
    height: 250px;
    border-left: 80px solid var(--main-color);
    border-bottom: 80px solid var(--main-color);
    z-index: -1;
    right: -150px;
}
@media (max-width: 991px) {
    .about .about-content .image::before,
    .about .about-content .image::after {
        display: none;
    }
}
.about .about-content .image img {
    max-width: 100%;
}
.about .about-content .text {
    /* مشلن تجي الفقرة جنب الصورة وتترك مسافة بينا وبين الصورة */ 
    flex-basis: calc(100% - 500px);
}
/* تنسيقات الفقرة الاولى */ 
.about .about-content .text p:first-of-type {
    font-weight: bold;
    line-height: 2;
    margin-bottom: 50px;
    color: black;
}
.about .about-content .text hr {
    width: 50%;
    display: inline-block;
    border-color: var(--main-color);
}
.about .about-content .text:last-of-type {   
    line-height: 2;
    color: #777;
}
/* End About */

/* Start Contact */
.contact {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #f6f6f6;
}
.contact .info {
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
}
.contact .info .label {
    font-size: 30px;
    font-weight: 800;
    color: var(--secondary-color);
    letter-spacing: -2px;
    margin-bottom: 15px;
}
.contact .info .link {
    display: block;
    font-size: 35px;
    font-weight: 800;
    color: var(--main-color);
    text-decoration: none;
}
.contact .info .social {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 16px;
}
.contact .info .social i {
    margin-left: 10px;
    color: var(--secondary-color);
}
@media (max-width: 767px) {
    .contact .info .label,
    .contact .info .link {
        font-size: 25px;
    }
}
/* End Contact */

/* Start Footer */
.footer {
    background-color: var(--secondary-color);
    color: white;
    padding: 30px 10px;
    text-align: center;
    font-size: 18px;
}
.footer span {
    font-weight: bold;
    color: var(--main-color);
}
/* End Footer */
